@tailwind base;
@tailwind components;
@tailwind utilities;


*,body,html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html{
  height: 100%;
  scroll-behavior: smooth;
  background-color: #FEFCFF;

}


.center{
  position: absolute;
  bottom: -5%;
  left: 51%;
  transform: translate(-50%,-50%);
}

.box{
border-radius: 0.75rem;
background:  linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}